{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}

{% block content %}

<article>
    {{ page.content }}
</article>

<p>Here are some alternatives for you.</p>

<!-- XXX: This is an opportunity to refactor into its own template DRY -->
<div>
  <ul id="404alternatives">
    {% if MENUITEMS %}
      {% for name, link in MENUITEMS %}
        <li><a href="{{ SITEURL }}/{{ link }}">{{ name }}</a></li>
      {% endfor %}
      <hr>
    {% endif %}

    {% if DISPLAY_PAGES_ON_MENU %}
      <li>PAGES</li>
      {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {#{% if not loop.last %} ::{% endif %}#}
      {% endfor %}
    {% endif %}
  </ul>
</div>

{% endblock %}
