{% extends "index.html" %}

{% block content %}

            <h1 class="title">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h1>
            <div class="published"> {{ article.locale_date }}<br />
                Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </div>
        <div class="entry-content"> {{ article.content}} </div>

{% endblock %}

{% block jsfoot %}
<script type="text/javascript" src="/theme/js/prism.js"> </script> {# if animationfile else themefile #}
{% endblock %}
