<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="author" content="{{ AUTHOR  }}">
  {% block nofollow %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/images/favicon.png" rel="icon">
  {#<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>#}

  {# CSS #}
  <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}">
  <link rel="stylesheet" href="/theme/css/gitlab-ribbon.css">
  {% block cssaddons %}{% endblock %}

  {# Javascript #}
  {% block jshead %}{% endblock %}
</head>

<body>

  {% block titletext %}{% endblock titletext %}

  <div id="content">

    <div id="menu-icon" onclick="openNav()">&#9776; menu</div>
    <script src="/theme/js/menu.js"> </script>
    <div id="my-nav" class="overlay">
      <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">

        <ul id="menumenu">

          {% if MENUITEMS %}
            {% for name, link in MENUITEMS %}
              <li><a href="{{ SITEURL }}/{{ link }}">{{ name }}</a></li>
            {% endfor %}
            <hr>
          {% endif %}

          {% if DISPLAY_PAGES_ON_MENU %}
            <li>PAGES</li>
            {% for page in pages %}
              <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
              {#{% if not loop.last %} ::{% endif %}#}
            {% endfor %}
          {% endif %}

        </ul>

      </div>
    </div>

    {% block content %}{% endblock %}

    {% include 'social.html' %}
    {% include 'gitlab.html' %}

  </div>

  <footer> Proudly powered by <a href="http://getpelican.com/">Pelican</a> which takes great advantage of <a href="http://python.org">Python</a>.</footer>

  {% include 'analytics.html' %}
  {% block jsfoot %}{% endblock %}

</body>
</html>
