{% extends "base.html" %}

{% block cssaddons %}
{% endblock %}

{% block titletext %}
<div id="blogname">{% if BLOGTITLE %}{{ BLOGTITLE }}{% else %}{{ SITETITLE }}{% endif %} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</div>
{% endblock %}

{% block content %}

    {% for article in articles_page.object_list %}
            <h1 class="title">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h1>
            <div class="published"> {{ article.locale_date }}<br />
                Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </div>
            <div class="entry-content"> {{ article.content}} </div>
    {% endfor %}

    <hr style="margin:30px">

{% endblock content %}
