{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}

{% block nofollow %}
  {% if page.slug == "credits" %}
        <meta name="robots" content="nofollow">
  {% endif %}
{% endblock %}

{% block content %}

{#<header>
    <h1><a href="{{ SITEURL }}/{{ page.slug }}" id="page-title">{{ page.title }}</a></h1>
    <span id="sitename"><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></span>
</header>  #}

<article>
    {{ page.content }}
</article>

{% endblock %}

{% block jsfoot %}
  {# <script type="text/javascript" src="/theme/js/anim-unavailable.js"> </script> #}
  {# if animationfile else themefile #}
{% endblock %}
