.fork-with-gitlab{
  width:120px;
  height:60px;
  background:black;
  position:fixed;
  top:0;
  right:0;
  transform-origin:50% 0;
  transform:translateX(50%) rotate(45deg);
  color:white;
  filter:grayscale(100%);
  transition: filter 250ms;
}
.fork-with-gitlab:hover{
  filter:grayscale(0);
}
.fork-with-gitlab svg{
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  max-width:60%;
  max-height:60%;
  transform:translate(-50%,-30%);
  pointer-events:none;
}
